@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about regular expression routing visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
            </p>
        </div>
    </section>
}
<h3>Here are some examples of URLs you can map:</h3>
<ol class="round">
    <li class="one">
        <h5>Indentify hierachial resources by a URI parameter:</h5>
		<p>@Html.ActionLink("/thing/1", "Index", new { controller = "Thing", thingUri = "thing/1" })</p>
		<p>@Html.ActionLink("/thing/1/thing/2", "Index", new { controller = "Thing", thingUri = "thing/1/thing/2" })</p>
		<p>@Html.ActionLink("/thing/1/thing/2/thing/3", "Index", new { controller = "Thing", thingUri = "thing/1/thing/2/thing/3" })</p>
    </li>

    <li class="two">
		<p>@Html.ActionLink("/thing/1/stuff", "Index", new { controller = "Thing", thingUri = "thing/1/stuff" })</p>
		<p>@Html.ActionLink("/thing/1/thing/2/stuff", "Index", new { controller = "Thing", thingUri = "thing/1/thing/2/stuff" })</p>
		<p>@Html.ActionLink("/thing/1/thing/2/thing/3/stuff", "Index", new { controller = "Thing", thingUri = "thing/1/thing/2/thing/3/stuff" })</p>
    </li>

    <li class="three">
        <h5>Tack on some additional parameters:</h5>
		<p>@Html.ActionLink("/thing/1/stuff/a", "Index", new { controller = "Thing", thingUri = "thing/1/stuff/a" })</p>
		<p>@Html.ActionLink("/thing/1/thing/2/stuff/b", "Index", new { controller = "Thing", thingUri = "thing/1/thing/2/stuff/b" })</p>
		<p>@Html.ActionLink("/thing/1/thing/2/thing/3/stuff/c", "Index", new { controller = "Thing", thingUri = "thing/1/thing/2/thing/3/stuff/c" })</p>
    </li>
</ol>
